<div class = "body">
  <div class="jumbotron">
    <div class="container text-center">
    <h1>{{compname}}Company Name</h1>      
      <p><strong>Mission, Vission and Values</strong></p>
    </div>
  </div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand">Fcompany <span class="glyphicon glyphicon-heart"></span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home <span class="glyphicon glyphicon-home"></span></a></li>
          <li><a href="/company">Users <span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a (click)="logout()">Log Out <span class="glyphicon glyphicon-lock"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-info">
          <div class="panel-heading">Start A Task</div>
          <div class="panel-body"><a routerLink = "/task"><img src="../../assets/img/tasks-icon-26.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <div class="panel-footer">Post A Task And Show It To Your Colleagues</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-info">
          <div class="panel-heading">Discussion Board</div>
          <div class="panel-body"><a routerLink = "/"><img src="../../assets/img/Discussion.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <div class="panel-footer">Discuss Your Problems Comfortably</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-info">
          <div class="panel-heading">Your Schedule</div>
          <div class="panel-body"><a routerLink = "/"><img src="../../assets/img/schedule.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <div class="panel-footer">Schedule Your Meetings With Other Colleagues</div>
        </div>
      </div>
    </div>
  </div><br>

  <div class="container">    
    <div class="row">
      <div class="col-sm-4"> 
        <div class="panel panel-info">
          <div class="panel-heading">Chat with Collegues</div>
          <div class="panel-body"><a routerLink = "/"><img src="../../assets/img/Chat.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <div class="panel-footer">Start Chatting Your Collegues</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-info">
          <div class="panel-heading">Get Some Food</div>
          <div class="panel-body"><a routerLink = "/"><img src="../../assets/img/food.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <div class="panel-footer">Hungry?! You Can Get Food Here</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-info">
          <div class="panel-heading">Playing Board</div>
          <div class="panel-body"><a routerLink = "/"><img src="../../assets/img/game.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <div class="panel-footer">Time To play Around</div>
        </div>
      </div>
    </div>
  </div><br><br>

  <footer class="container-fluid text-center">
    <p>{{compname}}Company Name Loves You <span class="glyphicon glyphicon-heart"></span></p>
    <p>{{Address}}Company-Address <span class="glyphicon glyphicon-globe"></span></p>
    <p>{{tele}}Company-tele <span class="glyphicon glyphicon-phone"></span></p>
    <p>{{email}}Company-email <span class="glyphicon glyphicon-link"></span></p>
  </footer>
</div>