<div class = "body">
  <div class="jumbotron">
    <div class="container text-center">
      <h1>{{obj.CompanyName}}</h1>      
      <p><strong>Mission, Vission and Values</strong></p>
    </div>
  </div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand">Company Manager <i class="fa fa-ravelry" aria-hidden="true"></i></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink = "/">Home <span class="glyphicon glyphicon-home"></span></a></li>
          <li><a routerLink="/company">Users <span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a (click)="logout()">Log Out <span class="glyphicon glyphicon-lock"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-info">
          <div class="panel-heading">Start A Task</div>
          <div class="panel-body"><a routerLink = "/task"><img src="../../assets/img/tasks-icon-26.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <!-- <div class="panel-footer">Post A Task And Show It To Your Colleagues</div> -->
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-info">
          <div class="panel-heading">BrainStorming </div>
          <div class="panel-body"><a routerLink = "/brainStorming"><img src="../../assets/img/brainstorming.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <!-- <div class="panel-footer">Discuss Your Problems Comfortably</div> -->
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-info">
          <div class="panel-heading">Your Schedule</div>
          <div class="panel-body"><a routerLink = "/schedule"><img src="../../assets/img/schedule.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <!-- <div class="panel-footer">Schedule Your Meetings With Other Colleagues</div> -->
        </div>
      </div>
    </div>
  </div><br>

  <div class="container">    
    <div class="row">
      <div class="col-sm-4"> 
        <div class="panel panel-info">
          <div class="panel-heading">Chat with Collegues</div>
          <div class="panel-body"><a routerLink = "/chat"><img src="../../assets/img/Chat.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <!-- <div class="panel-footer">Start Chatting Your Collegues</div> -->
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-info">
          <div class="panel-heading">Vote for Food</div>
          <div class="panel-body"><a routerLink = "/food"><img src="../../assets/img/food.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <!-- <div class="panel-footer">Hungry?! You Can Get Food Here</div> -->
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-info">
          <div class="panel-heading">Playing Board</div>

          <div class="panel-body"><a routerLink = "/gaming"><img src="../../assets/img/game.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <!-- <div class="panel-footer">Time To play Around</div> -->

        </div>
      </div>
    </div>
  </div><br><br>

  <footer class="container-fluid text-center">
    <p>{{obj.CompanyName}} Loves You <span class="glyphicon glyphicon-heart"></span></p>
    <p>{{obj.address}} <span class="glyphicon glyphicon-globe"></span></p>
    <p>{{obj.phoneNumber}} <span class="glyphicon glyphicon-phone"></span></p>
  </footer>
</div>