<div class="img">
  <div class = "well">
  <div id="wrapper">
  <h1 style="color: white">Suggestion and  Vote for Food <span style="color: #2fad0c" class="glyphicon glyphicon-apple"></span></h1>
  <form (submit)="addFood()">

  <div class="col-2">
    <label>
      Add Suggestion
      <input placeholder="food name" id="phone" [(ngModel)]="dishName" name="phone" tabindex="3">
    </label>
  </div>
  <div class="col-4">
    <label>
      type
      <input placeholder="the faverot type" id="email" [(ngModel)]="type" name="email" tabindex="4">
    </label>
  </div>
  
  <div class="col-4">
    <label>
      foodtime
       <select  (change)="onChange($event.target.value)">
            <option *ngFor="let i of foodTimes"> {{i}} </option>
          </select>
    </label>
  </div>

  <br>
  <div class="col-xs-12 col-submit">
    <button class="submitbtn">Submit Form</button>
  </div>
  </form>


      <div id="pricing-table" class="clear" >
        <div class="plan" style="margin: 10px"   *ngFor="let food of foods">
          <h3>Vote<span>{{ food.votes }}</span></h3>
          <a class="signup" (click)="Votee(food.dishName)" ><span  class="glyphicon glyphicon-heart"></span></a>         
          <ul>
            <li><b><strong >{{ food.dishName }}</strong></b></li>
            <li>{{ food.foodtime }}</li>
            <li>{{ food.type }}</li>
          </ul> 
        </div>
      </div>
      </div>
</div>
</div>