  <div id="wrapper">
  <h1>Suggestion and  Vote for Food <span class="glyphicon glyphicon-apple"></span></h1>
  
  <form >

  <div class="col-2">
    <label>
      Add Suggestion
      <input placeholder="food name" id="phone" [(ngModel)]="" name="phone" tabindex="3">
    </label>
  </div>
  <div class="col-4">
    <label>
      type
      <input placeholder="the faverot type" id="email" [(ngModel)]="" name="email" tabindex="4">
    </label>
  </div>
  
  <div class="col-4">
    <label>
      descreption
      <input placeholder="fav foood" id="skills" name="skills" [(ngModel)]="" tabindex="6">
    </label>
  </div>

  <br>
  <div class="col-xs-12 col-submit">
    <button class="submitbtn">Submit Form</button>
  </div>
  </form>

  </div>