  <div id="wrapper">
  <h1>Suggestion and  Vote for Food <span class="glyphicon glyphicon-apple"></span></h1>
  
  <form (submit)="addFood()">

  <div class="col-2">
    <label>
      Add Suggestion
      <input placeholder="food name" id="phone" [(ngModel)]="dishName" name="phone" tabindex="3">
    </label>
  </div>
  <div class="col-4">
    <label>
      type
      <input placeholder="the faverot type" id="email" [(ngModel)]="type" name="email" tabindex="4">
    </label>
  </div>
  
  <div class="col-4">
    <label>
      foodtime
       <select  (change)="onChange($event.target.value)">
            <option *ngFor="let i of foodTimes"> {{i}} </option>
          </select>
    </label>
  </div>

  <br>
  <div class="col-xs-12 col-submit">
    <button class="submitbtn">Submit Form</button>
  </div>
  </form>


  <tbody>
    <tr *ngFor="let food of foods">
      <h2><strong >{{ food.dishName }}</strong></h2>
      <h2>{{ food.foodTime }}</h2>
      <h2>{{ food.type }}</h2>
    </tr>
  </tbody>

  </div>