<div class="img">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Company Manager <i class="fa fa-ravelry" aria-hidden="true"></i></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink= "/company">Home <span class="glyphicon glyphicon-home"></span></a></li>
      <li><a (click) ="logout()">Log Out <span class="glyphicon glyphicon-lock"></span></a></li>
    </ul>
  </div>
</nav>
<button type="button" class="btn btn-info" (click)="showSch = !showSch"> Show Me MY Schedule <span class="glyphicon glyphicon-send"> </span></button><br><br>
<button type="button" class="btn btn-info" id="add" (click)="div_show()"> ADD <span class="glyphicon glyphicon-send"></span></button><br>

<div id="aya" style="display: none;">
  <form class="well form-horizontal" (submit)="add()">
    <fieldset>
      <div class="form-group">
        <label class="col-md-4 control-label">Title</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-tasks"></i></span>
            <input type="text" [(ngModel)]="title" name="title">
          </div>
        </div>
      </div><br>

      <div class="form-group">
        <label class="col-md-4 control-label">Discription</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-tasks"></i></span>
            <textarea rows="3" cols="20" [(ngModel)]="description" name="description"></textarea>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Date</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            <input  type="date" [(ngModel)]="date" name="Date">
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-4 control-label">Start Time</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            <input  type="time" [(ngModel)]="starttime" name="starttime">
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-4 control-label">End Time</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            <input  type="time" [(ngModel)]="endtime" name="endtime">
          </div>
        </div>
      </div>

      
      
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button type="submit" class="btn btn-info " (click)="div_hide()"> SUBMIT</button></div>
        </div>  
      </fieldset>
    </form>
  </div>
  
  <div *ngIf="showSch" class="todos" style="padding: 15px">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Date</th>
          <th>Start Time - End Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sch of todos">
          <td><strong >{{ sch.title }}</strong></td>
          <td>{{ sch.description }}</td>
          <td>{{ sch.date}}</td>
          <td>{{ sch.starttime }} - {{ sch.endtime }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  </div>