<div class ="bbdd">
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav" href="/">Company <span class="glyphicon glyphicon-home"></span></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/aboutus">About Us <span class="glyphicon glyphicon-hand-left"></span></a>
        </li>
        <li>
          <a routerLink="/signin">Sign in <span class="glyphicon glyphicon-send"></span></a>
        </li>
        <li>
          <a routerLink="/signup">Sign up <span class="glyphicon glyphicon-send"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<a name="about"></a>
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Company Website</h1>
          <h2>Best Choice <span class=" glyphicon glyphicon-check"></span></h2>
          <h3>Manage your company easily and simpily</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a href="https://github.com/Berzzerk/Fcompany" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/uas/login" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Company</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
      <p>The most important benefit of our website is that the referrals that you get through networking are normally high quality and most of the time are even pre-qualified for you.</p>
      </div>
      <div class="col-lg-4">
        <p>You can then follow up on these referrals/leads and turn them into clients. So you are getting much higher quality leads from networking than other forms of marketing, The increase in business from networking is the major advantage, but there are many others as well.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="http://amazingbusiness.com/top-9-benefits-of-business-networking/" class="btn btn-lg btn-outline">
          <i class="fa fa-book fa-fw"></i> Read more about business networking
        </a>
      </div>
    </div>
  </div>
</section>

<a  name="services"></a>
<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Company Task Organizing<br><h2>Better Task Management</h2></h2>
        <p class="lead">More complicated tasks typically require a variety of different steps. This can make it increasingly difficult for employees to remember all of the steps they must carry out in order to complete a process. </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="../assets/img/task-management.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Join And Set Meetings<br>Using Schedule Mangaer</h2>
        <p class="lead">Board meetings are a bit different than an everyday meeting as they are attended by volunteers who may not be familiar with the day to day operational details of your organization; generally board members need to keep their discussion centered on high level strategy, policy, and financial overviews.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="../assets/img/meeting.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Effective Scheduling<br></h2>
        <p class="lead">It's all too easy for this to happen. Faced with endless meetings, frequent interruptions, and urgent last-minute tasks, you can easily be busy all day without making any progress on high-priority projects and goals.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="../../assets/img/schedule.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Meals Suggestions<br></h2>
        <p class="lead">One of the biggest issues with phone conversations is that misunderstandings can happen quite easily. Usually due to the noise, either in the restaurant or on the other end of the line, all it takes is one mistake to compromise an order and frustrate a customer. With our website, all preferences are specified directly by the customer.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="../../assets/img/company-meals.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<a  name="contact"></a>
<div class="banner">

  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <h2>Register Now</h2>
      </div>
      <div class="col-lg-6">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a routerLink="/signin" class="btn btn-default btn-lg"><span class="network-name">Sign in</span></a>
          </li>
          <li>
            <a routerLink="/signup" class="btn btn-default btn-lg"><span class="network-name">register</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <footer class="container-fluid text-center">
    <i>Company <span class="glyphicon glyphicon-heart"></span></i><br>
    <i>Our Address: Amman, Jordan, Business Park <span class="glyphicon glyphicon-globe"></span></i><br>
    <i>Contact Us On <span class="glyphicon glyphicon-hand-right"> </span> 07345364534 <span class="glyphicon glyphicon-phone"></span></i><br>
    <i class="copyright text-muted small">Copyright &copy; Berzzerk.com, 2017-RBK <span class="glyphicon glyphicon-heart"></span></i><br>
  </footer>
</div>
</div>